<!DOCTYPE html>
<html>
<head>
  <title>Keep Track of Where You've Been!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='application.css'>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>